@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    /* overflow: hidden; */

}

html{
    font-size: 62.5%;
}
body{
    display: flex;
    background: hsl(180, 74%, 95%);
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.nav{
    width: 90vw;
    height: auto;
    display: flex;
    /* background: red; */
    align-items: center;
}

.nav h1{
    color: #2C3A47;
    text-transform: uppercase;
}

.active_class{
    border-bottom: 0.1rem solid black;
    color: black;
}

.nav_text{
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.5rem;
    color: #535c68; 
    font-weight: 1000!important;
}

.nav_text:hover{
    color: black;
}

.nav_list{
    text-decoration: none;
    margin-left: auto;
    padding: 1rem 1rem;
}